div{
  position:absolute;
  top:20;
  color:white;
  font-weight:bolder;
  font-size:25px;

}
h1{
  color:darkred;
  left:40%;
  font-weight:bolder;

}
#hide{
  position:absolute;
  visibility:hidden;
}
.inst{
  font-size:17px;
  width:50%;
  right:80px;
  text-align:right;
  color:yellow;
}
#bottom{
  bottom:80px;
  right:50px;
}

#over{
  position: absolute;
  color:red;
  top:20%;
  visibility:hidden;
  width:90%;
  text-align:center;

}

button{
  left:0;
  top:100px;
  position: :relative;
  border:3px black ridge;
  width:100%;
}
