div{
  position:absolute;
  top:20;
  color:white;
  font-weight:bolder;
  font-size:25px;

}
h1{
  color:darkred;
  left:40%;
  font-weight:bolder;
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;

}
#score{
  left:60px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;

}
#hScore{
  left:60px;
  top:35px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
#pauseInst{
  font-size:20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: deeppink;
  -webkit-text-fill-color:yellow;
   position:absolute;
   top:50px;
}
#reset{
  left:260px;
  top:35px;
}
#sound{
  right:15px;
  top:5px;
}
#char{
  right:95px;
  top:5px;
  position:absolute;
}

#hide{
  position:absolute;
  visibility:hidden;
}
.inst{
  font-size:20px;
  width:50%;
  right:230px;
  text-align:right;
  color:yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: deeppink;
  -webkit-text-fill-color:yellow;
}
#bottom{
  bottom:80px;
  right:50px;
}

#over{
  position: absolute;
  color:red;
  top:20%;
  width:90%;
  text-align:center;
  visibility:hidden;

}

button{
  left:0;
  position:relative;
  font-size:30px;
  font-weight: bolder;
}
